@font-face {
    font-family: 'old-london'; 
    src: url('OldLondon.ttf') format('truetype');
}

@font-face {
    font-family: 'garamond'; 
    src: url('EBGaramond-Regular.ttf') format('truetype');
}

h1 {
    font-family: 'old-london';
    text-align: center;
    font-size: 5rem !important; 
}



p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    font-family: 'garamond'; 
    font-weight: bold;
    font-size: 2rem;
}

.bar {
    height: 3px;
    background-color: black;
    margin-top: 28px;
    width: 100%;
}



.mt-28 {
    margin-top: 28px !important; 
}



@media (max-width: 767px) { /* Adjust the break-point as necessary */
    h1 {font-size: 5rem;} /* Adjusted font size for small screens */
}

@media (min-width: 768px) and (max-width: 1199px) {  
    h1 {font-size: 7rem;} /* Adjusted font size for medium screens */
}

